extends layout

block content
  div(class='container')
    //- h1= title
    //- p Welcome to #{title}
    div(class='grid')
      div(class='grid-item grid-item1')
        img(src="images/01.svg", alt="weather icon")
        //- i(class="fa-solid fa-cloud-sun")
        div(class='overlay overlay1')
          a(href="https://antoniomelena.github.io/weather-app/" target='_blank') Weather App
          a(class="repository" href="https://github.com/antoniomelena/weather-app" target='_blank') Github Repository
          //- div(class='project-icons')
          //-   i(class="fa-brands fa-react")
          //-   i(class="fa-brands fa-js")
          //-   i(class="fa-brands fa-html5")
          //-   i(class="fa-brands fa-css3-alt")
        //- i(class="fab fa-node-js")
      div(class='grid-item grid-item2')
        img(src="images/02.svg", alt="cash register icon")
        //- i(class="fa-solid fa-cash-register")
        div(class='overlay overlay2')
          a(href="https://antoniomelena.github.io/shop/#/" target='_blank') E-Commerce Shop
          a(class="repository" href="https://github.com/antoniomelena/shop" target='_blank') Github Repository
          //- div(class='project-icons')
          //-   i(class="fa-brands fa-react")
          //-   i(class="fa-brands fa-js")
          //-   i(class="fa-brands fa-html5")
          //-   i(class="fa-brands fa-css3-alt")
      div(class='grid-item grid-item3')
        img(src="images/firebase.svg", alt="firebase icon")
        //- i(class='fa-regular fa-bookmark')
        div(class='overlay overlay3')
          a(href="https://antoniomelena.github.io/library/" target='_blank') Firebase Library
          a(class="repository" href="https://github.com/antoniomelena/library" target='_blank') Github Repository
          //- div(class='project-icons')
          //-   i(class="fa-brands fa-js")
          //-   i(class="fa-brands fa-html5")
          //-   i(class="fa-brands fa-css3-alt")
      div(class='grid-item grid-item4') 
        //- i(class="fas fa-book")
        img(src="images/library.svg", alt="library icon")
        div(class='overlay overlay4')
          a(href="https://mysterious-escarpment-92394.herokuapp.com/catalog" target='_blank') Node.JS Library
          a(class="repository" href="https://github.com/antoniomelena/express-locallibrary" target='_blank') Github Repository
          //- div(class='project-icons')
          //-   i(class="fa-brands fa-node-js")
          //-   i(class="fa-brands fa-js")
          //-   i(class="fa-brands fa-html5")
          //-   i(class="fa-brands fa-css3-alt")
