doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src="https://kit.fontawesome.com/6c46f009b9.js" crossorigin="anonymous")
  body
    nav(class='navbar container')
      ul(class='nav-list')
        li(class='navbar-brand')
          a(href="/")
            img(src="images/Antonio-Logo.png", alt="antonio melena logo", srcset="")
        div(class='navbar-collapse')
          li(class='nav-item')
            a(class='nav-link' href='/') Projects
          li(class='nav-item')
            a(class='nav-link' href='/about') About
    block content
